* {
    margin: 0;
}

.title {
    position: absolute;
    top: 1rem !important;
    left: 5rem;
    font-size: 10rem;
    color: aliceblue;
    z-index: 2;
}

.covid-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.single-lg-virus {
    position: absolute !important;
    top: 7rem !important;
    left: 45rem !important;
    z-index: 3;
    width: 40%;
}

.single-md-virus {
    position: absolute !important;
    top: 8rem !important;
    left: 90rem !important;
    z-index: 2;
    width: 20%;
}

.single-md1-virus {
    position: absolute;
    top: 20rem !important;
    left: 25rem !important;
    z-index: 2;
    width: 20%;
}

.single-sm-virus {
    position: absolute;
    top: 10rem !important;
    left: 40rem !important;
    z-index: 1;
    width: 10%;
}

.single-sm2-virus {
    position: absolute;
    top: 45rem !important;
    left: 90rem !important;
    z-index: 1;
    width: 8%;
}

.single-sm3-virus {
    position: absolute;
    top: 15rem !important;
    left: 20rem !important;
    z-index: 1;
    width: 5%;
}

.safety-bg {
    /* position: absolute;
    top: 100vh;
    left: 0; */
    z-index: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.safety {
    position: absolute;
    top: 100vh;
    left: 0;
}

.safety-title {
    position: absolute;
    top: 7rem !important;
    left: 4rem !important;
    z-index: 2;
    font-size: 10rem;
    color: cadetblue;
}

/* Slide/page about Kobe*/

.faceback {
    position: absolute;
    top: 57vh !important;
    bottom: 0;
    left: 30rem !important;
    width: 76%;
}

.kobe-daughter {
    position: absolute;
    top: 23rem !important;
    left: 62rem !important;
    width: 40%;
    opacity: 0.1;
}
.kobe-daughter2 {
    position: absolute;
    top: 22rem !important;
    left: 63rem !important;
    width: 50%;
    opacity: 0.3;
}
.kobe-daughter3 {
    position: absolute;
    top: 20rem !important;
    left: 64rem !important;
    width: 60%;
    opacity: 0.5;
}
.kobe-daughter4 {
    position: absolute;
    top: 18rem !important;
    left: 65rem !important;
    width: 70%;
    opacity: 0.6;
}
.kobe-daughter5 {
    position: absolute;
    top: 17rem !important;
    left: 66rem !important;
    width: 80%;
    opacity: 0.8;
}

.kobe-daughter6 {
    position: absolute;
    top: 15rem !important;
    left: 68rem !important;
    width: 90%;
    opacity: 0.9;
}
.kobe-daughter7 {
    position: absolute;
    top: 13rem !important;
    left: 70rem !important;
    width: 100%;
}

.ball {
    position: absolute;
    top: 10rem !important;
    left: 50rem !important;
    width: 30%;
}

.kobe-shot {
    position: absolute;
    top: 20rem !important;
    left: 50rem !important;
}

/* Slide/page about Black Live Matter*/

.black-live {
    position: absolute;
    top: 200vh;
}

.blm-bg, .fire-bg{
    width: 100vw;
    height: 100vh;
}

.blm-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.blm-title {
    position: absolute;
    top: 7rem !important;
    left: 4rem !important;
    z-index: 2;
    font-size: 8rem;
    color: lavender;
}

.banner-BLM {
    position: absolute;
    top: 20rem !important;
    left: 60rem !important;
}

.art-GF {
    position: absolute;
    top: 20rem !important;
    left: 40rem !important;
}

.real-GF {
    position: absolute;
    top: 20rem !important;
    left: 10rem !important;
}

/* Third Page/slide about Australia Fire */

.fire {
    position: absolute;
    top: 300vh;
}

.fire-title {
    position: absolute;
    top: 7rem !important;
    left: 4rem !important;
    z-index: 2;
    font-size: 8rem;
    color: orangered;
}

.kangaroo {
    position: absolute;
    top: 10rem !important;
    left: 50rem !important;
    width: 40%;
}

.koala {
    position: absolute;
    top: 30rem !important;
    left: 20rem !important;
    width: 40%;
}

.fire-live {
    position: absolute;
    top: 45rem !important;
    left: 10rem !important;
    width: 80%;
}

.fire-live2 {
    position: absolute;
    top: 45rem !important;
    left: 50rem !important;
    width: 80%;
}

.fire-live3 {
    position: absolute;
    top: 45rem !important;
    left: 80rem !important;
    width: 80%;
}