* {
    margin: 0;
}

.title {
    position: absolute;
    margin-left: 5vw;
    font-size: 8vw;
    color: aliceblue;
    z-index: 2;
}

.covid-container {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background: url(./img/corona-virus-4932576_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.covid-bg {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.single-lg-virus {
    position: absolute;
    margin-top: 12vh;
    margin-left: 40vw;
    z-index: 3;
    width: 40%;
}

.single-md-virus {
    position: absolute;
    margin-left: 70vw;
    z-index: 2;
    width: 20%;
}

.single-md1-virus {
    position: absolute;
    margin-left: 20vw;
    margin-top: 30vh;
    z-index: 2;
    width: 20%;
}

.single-sm-virus {
    position: absolute;
    margin-top: 50vh;
    margin-left: 40vw;
    z-index: 1;
    width: 10%;
}

.single-sm2-virus {
    position: absolute;
    margin-top: 60vh;
    margin-left: 80vw;
    z-index: 1;
    width: 8%;
}

.single-sm3-virus {
    position: absolute;
    margin-top: 80vh;
    margin-left: 20vw;
    z-index: 1;
    width: 5%;
}

.safety-bg {
    /* position: absolute;
    top: 100vh;
    left: 0; */
    z-index: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.kobe-container {
    background: url(./img/kobe/googleSlide.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.kobe-title {
    position: absolute;
    top: 7rem !important;
    left: 4rem !important;
    z-index: 2;
    font-size: 10rem;
    color: cadetblue;
}

/* Slide/page about Kobe*/

.faceback {
    position: absolute;
    margin-top: 30vh;
    margin-left: 1vw;
    width: 30%;
}

.kobe-daughter {
    position: absolute;
    margin-top: 54vh;
    margin-left: 28vw;
    width: 14%;
    opacity: 0.1;
}
.kobe-daughter2 {
    position: absolute;
    margin-top: 52vh;
    margin-left: 30vw;
    width: 15%;
    opacity: 0.3;
}
.kobe-daughter3 {
    position: absolute;
    margin-top: 50vh;
    margin-left: 32vw;
    width: 16%;
    opacity: 0.5;
}
.kobe-daughter4 {
    position: absolute;
    margin-top: 48vh;
    margin-left: 34vw;
    width: 17%;
    opacity: 0.6;
}
.kobe-daughter5 {
    position: absolute;
    margin-top: 46vh;
    margin-left: 36vw;
    width: 18%;
    opacity: 0.8;
}

.kobe-daughter6 {
    position: absolute;
    margin-top: 44vh;
    margin-left: 38vw;
    width: 19%;
    opacity: 0.9;
}
.kobe-daughter7 {
    position: absolute;
    margin-top: 42vh;
    margin-left: 40vw;
    width: 20%;
}

.ball {
    position: absolute;
    margin-top: 10vh;
    margin-left: 40vw;
    width: 10%;
}

.kobe-shot {
    position: absolute;
    margin-top: 15vh;
    margin-left: 10vw5
}

/* Slide/page about Black Live Matter*/

.black-live {
    position: absolute;
    top: 200vh;
}

.blm-bg, .fire-bg{
    width: 100vw;
    height: 100vh;
}

.blm-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.blm-title {
    position: absolute;
    top: 7rem !important;
    left: 4rem !important;
    z-index: 2;
    font-size: 8rem;
    color: lavender;
}

.banner-BLM {
    position: absolute;
    top: 20rem !important;
    left: 60rem !important;
}

.art-GF {
    position: absolute;
    top: 20rem !important;
    left: 40rem !important;
}

.real-GF {
    position: absolute;
    top: 20rem !important;
    left: 10rem !important;
}

/* Third Page/slide about Australia Fire */

.fire {
    position: absolute;
    top: 300vh;
}

.fire-title {
    position: absolute;
    top: 7rem !important;
    left: 4rem !important;
    z-index: 2;
    font-size: 8rem;
    color: orangered;
}

.kangaroo {
    position: absolute;
    top: 10rem !important;
    left: 50rem !important;
    width: 40%;
}

.koala {
    position: absolute;
    top: 30rem !important;
    left: 20rem !important;
    width: 40%;
}

.fire-live {
    position: absolute;
    top: 45rem !important;
    left: 10rem !important;
    width: 80%;
}

.fire-live2 {
    position: absolute;
    top: 45rem !important;
    left: 50rem !important;
    width: 80%;
}

.fire-live3 {
    position: absolute;
    top: 45rem !important;
    left: 80rem !important;
    width: 80%;
}